@import url('https://fonts.googleapis.com/css2?family=Playwrite&display=swap');

.Body  {
  text-align: center;
  font-family: 'Playwrite', sans-serif;
}

.App-logo {
  /* height: 40vmin; */
  width:100vh;
  pointer-events: none;
 
}

.App-header {
  background-color: #FFEE02;
  text-align: left;
  /* min-height: 100vh; */
  min-width: 100vh;
  max-height: 40vh;
  /* display: flex;
  flex-direction: column; */
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: rgb(236, 9, 9); */
  border-color: rgb(236, 9, 9);
  border: 2px;
  border-style: groove;
}

.joke-section {
  background-color: #774005;
  border: 0.5rem solid;
  border-color: deeppink;
  color: #FFEE02;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Playwrite', sans-serif;
  margin: 80px 2px;
  cursor: pointer;
  border-radius:8px;
}
#background {
  background-image: url(./images/carambar_smile.png);
  background-size:auto;
  background-position: center;
}
button {
  color:deeppink ;
  background-color: #FFEE02 ;
}
.la-blague {
  font-family: 'Playwrite', sans-serif;
}